---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Home Page"
---

<BaseLayout {pageTitle}>
    <h2>My awesome blog subtitle</h2>
    <div
        class="bg-gradient-to-br from-blue-500 via-purple-500 to-pink-500 p-6 rounded-xl shadow-lg max-w-xs mx-auto"
    >
        <h2 class="text-white text-lg font-semibold mb-4">Generators</h2>
        <ul class="space-y-2">
            <li>
                <a
                    href="/dev/generator/stripe"
                    class="block p-2 bg-white bg-opacity-20 rounded-md hover:bg-opacity-40 transition ease-out text-white"
                >
                    Stripe
                </a>
            </li>
            <li>
                <a
                    href="/dev/generator/ripped-edge"
                    class="block p-2 bg-white bg-opacity-20 rounded-md hover:bg-opacity-40 transition ease-out text-white"
                >
                    Edge
                </a>
            </li>
            <li>
                <a
                    href="/dev/generator/papercut"
                    class="block p-2 bg-white bg-opacity-20 rounded-md hover:bg-opacity-40 transition ease-out text-white"
                >
                    Papercut
                </a>
            </li>
            <li>
                <a
                    href="/dev/generator/grid-generator"
                    class="block p-2 bg-white bg-opacity-20 rounded-md hover:bg-opacity-40 transition ease-out text-white"
                >
                    Grid
                </a>
            </li>
            <li>
                <a
                    href="/dev/generator/border-generator"
                    class="block p-2 bg-white bg-opacity-20 rounded-md hover:bg-opacity-40 transition ease-out text-white"
                >
                    Border
                </a>
            </li>
        </ul>
    </div>
</BaseLayout>
