---
import BaseLayout from "@layouts/BaseLayout.astro"
import StripeGeneratorModule from "@components/tools/StripeGenerator"
const pageTitle = "Stripe Generator"
---

<BaseLayout {pageTitle}>
    <div class="container mx-auto">
        <StripeGeneratorModule client:load />
    </div>
</BaseLayout>
